body{  
    margin: 0;
    padding: 20px;
    font-family: cursive;
}

header{ 
    color:blue;
    text-align: center;
    font-size: x-large;
}

main{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button{ 
    margin-left: 45%;
    background-color:brown;
    padding: 6px;

}

button a{
    color: rgb(17, 136, 240);
    text-decoration: none;
    font-family: cursive;
}